<div class="request">
    <div class="container">
        <div class="wrapper">
            <%= form_tag('mailing_list') do %>
                <h2>Become a Beta tester for Eat Under</h2>
                <div class="form-element">
                    <div class="label">
                        <%= label_tag(:name, "Your Name") %>
                    </div>
                    <div class="input-field">
                        <%= text_field_tag(:name, nil, placeholder: "Your name") %>
                    </div>
                </div>
                <div class="form-element">
                    <div class="label">
                        <%= label_tag(:email, "Your email address") %>
                    </div>
                    <div class="input-field">
                        <%= email_field_tag(:email, nil, placeholder: "Your email address", required: true) %>
                    </div>
                </div>
                <div class="form-element">
                    <%= label_tag(:android, "Android") %>
                    <%= radio_button_tag(:os, "android") %>
                    <%= label_tag(:iphone, "iPhone") %>
                    <%= radio_button_tag(:os, "iphone") %>
                </div>
                <%= submit_tag(:submit, class: 'submit-button') %>
            <% end %>
        </div>
    </div>
</div>
