<!DOCTYPE html>
<html>
<head>
  <title>Wheretoeat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="1PwBxk-94B_e9nW1nUtVUCoagvbtnVVL2_avE-4aq3Y" />
  <%= favicon_link_tag 'https://s3-ap-southeast-2.amazonaws.com/eatunderassets/favicon.png' %>
</head>
<body>

<%= yield %>

</body>
</html>
